body {
  margin: 0;
  font-family: Arial;
  background: radial-gradient(circle at top, #020617, #000);
  overflow: hidden;
  color: white;
  text-align: center;
}

.hud {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 18px;
}

#gameArea {
  width: 320px;
  height: 520px;
  margin: auto;
  position: relative;
  overflow: hidden;
  background: black;
  border: 2px solid #00e5ff;
  border-radius: 12px;
}

/* STARFIELD */
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation: fall linear infinite;
}

@keyframes fall {
  from { transform: translateY(-10px); }
  to { transform: translateY(520px); }
}

/* PLAYER */
#player {
  position: absolute;
  bottom: 20px;
  left: 140px;
  font-size: 30px;
  filter: drop-shadow(0 0 10px cyan);
}

/* BULLETS */
.bullet {
  position: absolute;
  width: 4px;
  height: 10px;
  background: yellow;
  border-radius: 2px;
}

/* ENEMY */
.enemy {
  position: absolute;
  font-size: 26px;
}

/* GAME OVER */
#gameOver {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.8);
  padding: 20px;
  border-radius: 10px;
}

.controls button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 18px;
}
